 Abdurakhmonova Mushtariy
 Student number: 201939183
 Code: 20220915

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
df = pd.read_csv('/Users/mushtariy/Downloads/house_data.txt',usecols = [0,2], names =['size','price'])
df.head(10)
print(df)

    size   price
0   2104  399900
1   1600  329900
2   2400  369000
3   1416  232000
4   3000  539900
5   1985  299900
6   1534  314900
7   1427  198999
8   1380  212000
9   1494  242500
10  1940  239999
11  2000  347000
12  1890  329999
13  4478  699900
14  1268  259900
15  2300  449900
16  1320  299900
17  1236  199900
18  2609  499998
19  3031  599000
20  1767  252900
21  1888  255000
22  1604  242900
23  1962  259900
24  3890  573900
25  1100  249900
26  1458  464500
27  2526  469000
28  2200  475000
29  2637  299900
30  1839  349900
31  1000  169900
32  2040  314900
33  3137  579900
34  1811  285900
35  1437  249900
36  1239  229900
37  2132  345000
38  4215  549000
39  2162  287000
40  1664  368500
41  2238  329900
42  2567  314000
43  1200  299000
44   852  179900
45  1852  299900
46  1203  239500

In [16]:
def gradient_descent(l_r , iteration):
    x = df['size'].values/1000 
    y = df['price'].values/1000
    n = len(x)
    B0 = 0 
    B1 = 0
    for _ in range (iteration):
        d_B0 = []
        d_B1 = []
        for i in range(n):
            
            d_B0.append((B0+B1*x[i])-y[i])
            d_B1.append(((B0+B1*x[i])-y[i])*x[i])
            
        B0 = B0-l_r* (1/n)*sum (d_B0)
        B1 = B1-l_r* (1/n)*sum (d_B1)
        
    return B0,B1
B0,B1 = gradient_descent(0.001,1000)
print('intercept_term(B0):',B0,'\n','slope(B1):',B1)

NameError: name 'df' is not defined

In [10]:
hypothesis = B0+np.dot(B1,[0,4])
x=[0,4]
plt.figure(figsize=(8,6))
plt.scatter (df['size']/1000,df['price']/1000, c ='b',marker='*' ,s=70, alpha=0.7)
plt.plot(x,hypothesis, c='r')
plt.xlabel('Size(areax1000)',size=15)
plt.ylabel('Price(in US x 1000)', size=13)
plt.title('Housing Prices',size=13)
plt.plot()
plt.xlim(0,4)
plt.ylim(0,700)

NameError: name 'B0' is not defined